@using Brook.Totp.WebLogin2FA.Models;
@{
    ViewData["Title"] = "Home Page";
    var currentUser = ViewBag.CurrentUser;
}
<link href="~/css/site.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" type="text/javascript"></script>

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active"> 我是首页 </h2>
        <h2 id="logout" class="logout"> 退出 </h2>

        <!-- Login Form -->
        <form>
            <h3>ID:@currentUser.ID</h3><br />
            <h3>Email:@currentUser.Email</h3><br />
            <h3>PassWord:@currentUser.PassWord</h3><br />
            <h3>IsOpen2FA:@currentUser.IsOpen2FA</h3><br />
            <h3>SecretKeyFor2FA:@currentUser.SecretKeyFor2FA</h3><br />
        </form>


        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">欢迎使用航天发射系统</a>
        </div>

    </div>
</div>
