@{
    ViewData["Title"] = "Bind Page";
}
<link href="~/css/site.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" type="text/javascript"></script>
<script type="text/javascript" src="https://cdn.staticfile.org/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active"> 双因素认证 </h2>

        <!-- Icon -->
        <div id="qrcode" class="fadeIn first" title="请使用手机app扫码二维码并输入6位数字验证码完成绑定">
           
        </div>

        <!-- Login Form -->
        <form>
            <input type="text" id="verifyCode" class="fadeIn second" name="verifyCode" placeholder="请输入6位数字校验码">
            <input type="button" id="bind" class="fadeIn fourth" value="校验">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">为admin绑定双因素认证</a>
        </div>

    </div>
</div>
