@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/site.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" type="text/javascript"></script>

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active"> 登录 </h2>

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="~/images/7.png" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form>
            <input type="text" id="user" class="fadeIn second" name="login" value="gaozengzhi@gmail.com" placeholder="用户名">
            <input type="text" id="verifyCode" class="fadeIn second hide" name="verifyCode" placeholder="请输入6位数字校验码">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="密码">
            <input type="button" id="login" class="fadeIn fourth" value="登录">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" title="点击绑定双因素认证" href="@Href("/home/bind")">欢迎使用航天发射系统</a>
        </div>

    </div>
</div>
